<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="login-box">
<form class="login-form" action="/login" method="post" >
    <label for=""> enter your email </label>
    <input type="text" name="email" value="">
    <label for=""> enter your password </label>
    <input type="text" name="password" value="">
    <br>
    <input type="submit" >
</form>

    </div>
<script src="/script/sam.js"></script>
</body>
</html>